In [1]:
import pandas as pd
pd.read_csv("survey_res_pev.csv")

,sampno,vehno,year,make,model,fuel,veh_type,pev_miles_week,pev_miles_month,phev_percent,...,pev_incentives_2,pev_incentives_3,pev_incentives_4,pev_incentives_5,pev_incentives_6,pev_incentives_7,pev_experience,pev_recommend,pev_confidence,pev_confidence_4_x
0,190107,1,2017,FORD,REDACTED,3,3,250,,30,...,5,4,4,1,1,4,5,5,,
1,190111,3,2018,VOLKSWAGEN,NaN,5,1,175,,,...,5,5,5,1,1,4,5,4,,
2,190120,2,2016,NISSAN,NaN,5,2,160,,,...,4,4,4,2,1,2,7,5,,
3,190127,1,2013,TOYOTA,NaN,3,3,200,,85,...,7,7,7,2,7,5,7,4,,
4,190138,3,2017,CHEVROLET,NaN,5,2,200,,,...,5,5,5,1,1,1,7,5,2,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,194232,1,2016,FORD,NaN,3,3,200,,20,...,7,7,7,7,1,2,7,5,,
447,194237,1,2013,CHEVROLET,NaN,3,2,40,,10,...,4,4,4,1,1,1,7,5,,
448,194239,1,2018,TESLA,NaN,5,3,250,,,...,5,5,7,1,7,4,7,5,,
449,194242,2,2016,TESLA,NaN,5,3,70,,,...,2,2,2,2,2,2,5,3,,
450,194251,1,2013,NISSAN,NaN,5,2,100,,,...,5,5,5,3,3,3,7,5,,